.vscode
.ccls-cache
compile_commands.json

*.jou
*.log
*.str
*.o
*.o.d
*.o.cmd
*.dtb

cmod-a7/vivado/prj/*
ultra96/vivado/prj/*

ultra96/ROOT_FS/app/other/akaze-test/build/*
ultra96/ROOT_FS/app/fad/build/*
ultra96/ROOT_FS/app/other/planner-test/build/*
ultra96/ROOT_FS/app/other/pcam-test/build/*
ultra96/ROOT_FS/app/other/gpio-test/build/*
ultra96/ROOT_FS/app/other/webcam-test/build/*
ultra96/ROOT_FS/app/other/optor-test/build/*
ultra96/ROOT_FS/app/other/make-calibration-param/build/*
ultra96/ROOT_FS/app/other/detect-pedestrian-test/build/*

ultra96/ROOT_FS/lib/include/*
ultra96/ROOT_FS/lib/*.so

ultra96/ROOT_FS/lib/improc/build/*
ultra96/ROOT_FS/lib/zynqpl/build/*
ultra96/ROOT_FS/lib/control/build/*
ultra96/ROOT_FS/lib/optor/build/*
ultra96/ROOT_FS/lib/planner/build/*

ultra96/ROOT_FS/driver/v4l2/build/*
!ultra96/ROOT_FS/driver/v4l2/build/Makefile

!*.tcl
!*.sh
!.gitkeep
/#*
